<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>View Contact</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1>View Contact</h1>
        <a th:href="@{/students}">Back to Contact List</a>
        <br/><br/>
        <div th:if="${students}">
            <table border="0">
                <tr>
                    <td>ID</td>
                    <td>:</td>
                    <td th:utext="${student.id}">...</td>          
                </tr>
                <tr>
                    <td>Name</td>
                    <td>:</td>
                    <td th:utext="${students.studentName}">...</td>             
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>:</td>
                    <td th:utext="${students.age}">...</td>              
                </tr>
                <tr>
                    <td>Email</td>
                    <td>:</td>
                    <td th:utext="${students.stdClass}">...</td>
                </tr>
               
            </table>
            <br/><br/>
            <div th:if="not ${allowDelete}">
                <a th:href="@{/students/{id}/edit(id=${students.id})}">Edit</a> |
                <a th:href="@{/students/{id}/delete(id=${students.id})}">Delete</a>
            </div>
            <form th:if="${allowDelete}" th:action="@{/students/{id}/delete(id=${students.id})}" method="POST">
                Delete this contact? <input type="submit" th:value="Yes" />
            </form>
        </div>
        <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />        
    </body>
</html>