<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title th:utext="${title}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1 th:utext="${title}" />
        <a th:href="@{/students}">Contact List</a>  
        <br/><br/>
        <div>Copyright © dariawan.com</div>
    </body>
</html>